body {
    background-color: rgb(186, 232, 232);
}

h1 {
    color: rgb(224, 40, 70);
}

div {
 background-color: rgb(255, 211, 255);
 width: 50vw;
}

.divRojo {
    background-color: rgb(255, 21, 21);

}

#divUnico {
    background-color: rgb(120, 175, 115);
}

#dibujo {
 width: 40vw;
 height: 40vw;
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}

#cara {
    width: 60%;
    height: 70%;
    background-color:rgb(238, 231, 87);
    border-radius: 50%;
    position: relative;
    transition: all 4s;
}

#cara:hover {
    transform: rotate(360deg) scale(0.5);
    background-color:rgb(246, 246, 235);
}

.ojos {
   width: 20%;
    height: 20%;
    background-color:rgb(93, 93, 93); 
    border-radius: 50%;
    position: absolute;
    border: black 2px solid;
}

#ojoIzq {
    top: 20%;
    left: 20%;
}

#ojoDer {
 top: 20%;
 right: 20%;
}

#boca {
    width: 8%;
    height: 12%;
    border-radius: 0 0 100% 100%;
    position: absolute;
    top: 40%;
    box-align: center; 
    border: rgb(216, 156, 166) 2px solid;
    animation-name: cambioColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cambioColor {
   0%   {background-color: rgb(239, 228, 19); height: 0%}
  25%  {background-color: rgb(36, 234, 22); }
  50%  {background-color: rgb(0, 153, 255); }
  100% {background-color: rgb(255, 220, 24); height: 20%}
}

/*
#boca:hover {
    background-color:rgb(223, 23, 23);
    height: 18%;
}*/